<% provide(:title, 'Contact') %>


<div class = "row">
<div class = 'col-md-3 col-lg-2'>
  	<img src= <%= asset_path('tpfavicon.png') %>/ class= "col-5 col-md-12 w-100 p-3">
</div>

<div class = 'col-md-9 col-lg-10'>
	<h2 class = "my-2 float-left">Contact</h2></br></br></br>
	
	This open source project initially created by Kuo Kelly is recently taken over by Matthieu Hernandez and available on GitHub.
	Thank you to everyone who participated in this project.
	<br/>
	Hope have found this platform useful! Feel free to leave a comment or feedback at <strong>talkingpapers.org@gmail.com</strong>.

</br></br>

	<%= link_to "View on GitHub", "https://github.com/MatthieuHernandez/TalkingPapers", class: "btn btn-primary" %>
</div>
</div>