<script type="text/javascript">
  function fb_login(){
    FB.login(function(response) {
      if (response.authResponse) {
        access_token = response.authResponse.accessToken;
        user_id = response.authResponse.userID;
        FB.api('/me', {fields: 'id, name, email'}, function(response) {
          $.ajax({
            type: "GET",
            url: "/connect",
            data: {
              user: {
                name: response.name,
                email: response.email,
                provider: "Facebook",
                external_id:  user_id,
                pictuire_link: "https://graph.facebook.com/v11.0/" + user_id + "/picture?width=80&height=80",
                access_token: access_token
              }
            }
          });
        });
      } else {
        console.log('User cancelled login or did not fully authorize.');
      }
    }, {
      scope: 'public_profile, email'
    });
  }
</script>

<div id="facebook-sigin">
  <% if Rails.env.production? %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=671276493763035&autoLogAppEvents=1" nonce="jSQTwxa4"></script>
  <% else %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=1469998833343189&autoLogAppEvents=1" nonce="jSQTwxa4"></script>
  <% end %>
  <a class="btn-connect-option facebook" onclick="fb_login();"> Facebook </a>
</div>