<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script type="text/javascript">
  function google_login(googleUser){
    console.log("Success !!!");
    // Useful data for your client-side scripts:
    // const googleUser = gapi.auth2.getAuthInstance().currentUser.get();
    const profile = googleUser.getBasicProfile();
    console.log("Profile: " + profile);
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    // var id_token = googleUser.getAuthResponse().id_token;
    // console.log("ID Token: " + id_token);

    /*$.ajax({
      type: "GET",
      url: "/connect",
      data: {
        user: {
          name: response.name,
          email: response.email,
          provider: "Facebook",
          external_id:  user_id,
          access_token: access_token
        }
      }
    });*/
  }

  function onLoad() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '222756129976-amfq45udboo59s76f89d6skqu460moeh.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('google-sigin'));
    });
  }

  function attachSignin(element) {
  auth2.attachClickHandler(element, {},
    function(googleUser) {
        google_login(googleUser);
      }, function(error) {
        // alert(JSON.stringify(error, undefined, 2));
      });
  }
</script>

<div id="google-sigin">
  <meta name="google-signin-scope" content="profile email">
  <a class="btn-connect-option google"> Google </a>
</div>