<% provide(:title, "Delete your account") %>
<h1>Delete your account</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(url: delete_path, scope: :session, local: true) do |f| %>
      <% if current_user.provider.blank? %>
        <%= f.label "To verify, enter your password:" %>
        <%= f.password_field :password, class: 'form-control' %>
      <% end %>
      <%= f.submit "Yes, I want to delete my account.", class: "btn btn-danger" %>
    <% end %> 
  </div>
</div>
