<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="col-md-6 offset-md-3">
  <div class="digg_pagination">
<%= will_paginate @users,  list_classes: %w(pagination justify-content-center)%>
  </div>


<ul class="users">
	<%= render @users %>
</ul>


  <div class="digg_pagination my-3">
<%= will_paginate @users,  list_classes: %w(pagination justify-content-center)%>
  </div>

  </div>