// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.connect-table {
    margin-left: auto;
    margin-right: auto;
  }

.gray-text {
    color:#515960;
    margin-bottom: 8px;
}

.gray-text-2 {
    color:#515960;
    margin-top: 20px;
    margin-bottom: 8px;
}

.social-signup {
    padding-bottom: 20px;
    border-bottom: 1px solid #b7babd;
    overflow: hidden;
    margin-bottom: 10px;
}

a.btn-connect-option.facebook {
    background: #4367b0 url(/assets/btn-connect-option.png) -10px -10px/60px 120px no-repeat;
    margin-right: 20px;
}

a.btn-connect-option.google {
    background: #4585f1 url(/assets/btn-connect-option.png) -10px -70px/60px 120px no-repeat;
}

a.btn-connect-option.google:hover {
    background-color: #5795ff;
}

a.btn-connect-option.facebook:hover {
    background-color: #4d76c9;
}

a.btn-connect-option {
    text-decoration: none;
    border-radius: 3px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    width: 160px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    padding: 4px 10px 10px 40px;
}