<footer class="footer">
 <small>
   <a href="https://github.com/MatthieuHernandez/TalkingPapers">TalkingPapers on GitHub</a></li>
</small>
<nav>
  <ul>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
 </nav>
</footer>