<footer class="footer">
  <table style="width: 100%">
      <tr>
        <td style="width: 30%; font-size: small;"><a href="https://github.com/MatthieuHernandez/TalkingPapers">TalkingPapers on GitHub</a></td>
        <td style="text-align: center; font-size: small;"><%= link_to "Privacy policy", privacy_policy_path %></td>
        <td style="text-align: right; width: 30%"><%= link_to "Contact", contact_path %></td>
      </tr>
  </table>
</footer>