<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="36px"
    viewBox="40.6 0 508.5 641.5" style="enable-background:new 40.6 0 508.5 641.5;" xml:space="preserve">
  <style type="text/css">
    .st0{display:none;}
    .st1{display:inline;}
    .st2{fill:#4742DE;enable-background:new;}
    .st3{fill:none;stroke:#4742DE;stroke-width:20;stroke-miterlimit:10;}
    .st4{fill:none;stroke:#4742DE;stroke-width:18;stroke-miterlimit:10;}
    .st5{fill:none;stroke:#4742DE;stroke-width:19;stroke-miterlimit:10;}
  </style>
<g id="Calque_1">
  <circle class="st2" cx="240.3" cy="288.3" r="18.2"/>
  <circle class="st2" cx="395" cy="267" r="18.2"/>
  <path id="XMLID_1_" class="st3" d="M140,43.6c1.2-1.6,6.9-1,6.9-1s240.4-1,243.6-0.1S506.2,157,506.6,157.8s0,368.6,0,368.6
    s-0.1,2.7-3,5.6s-6.1,3-6.1,3l-349.9,0c0,0-4.3,0-6.3-2c-2.5-2.5-2.2-6.2-2.2-6.2l0.1-476.7C139,50.1,138.8,45.2,140,43.6z"/>
  <path class="st3" d="M232.9,360.7l187.4-24.5c0,0,8.7,82.6-71.7,102.3C258.5,459.9,232.9,360.7,232.9,360.7z"/>
  <path id="XMLID_56_" class="st4" d="M390.1,158.9c1.3,1.6,115.3,1,115.3,0c0-4.5-115.5-117.7-115.9-116.4
    C388.4,46.6,389,156.4,390.1,158.9z"/>
  <path class="st5" d="M141,97.9H92.6c0,0-5,0.2-6.9,2.7c-1.7,2.3-1.8,5.2-1.8,5.2v477.1c0,0,0.1,5.2,1.4,7.1
    c1.3,1.9,6.9,1.9,6.9,1.9l351.5,0c0,0,2.4-0.4,4.7-3s2.9-6,2.9-6l-0.4-48.9"/>
</g>
</svg>
<div class="talking-papers">
    TalkingPapers
</div>
<!--<div >
  <%= link_to image_tag("talkingpapersicon.png", height: "38"), root_path %>
  
</div>-->